body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url('./images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
}

/*Header css*/
.header{
    display: flex;
    background: rgb(255, 255, 255);
    border-bottom: 5px solid pink;
    font-size: 18px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;    
    background-color: blanchedalmond;
    margin-bottom: auto;
}

.img-header{
    width:150px;
    height: 75px;
    margin-left: 50px;
}

.links{
    display: flex;
    margin-right:48px;
    gap:24px;
}

.middle-box {    
   display: flex;
   align-self: center;
   justify-content: center;
   background-color: white;
   width: 860px;
   border-radius: 10px;
   box-shadow: 2px 4px 16px rgba(0,0,0,.2);
   padding: 32px;
}

.heading{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
}
.modal{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-middle{
    width:300px;
    height: 350px;
}

button{
    padding: 8px;
    margin: 16px;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.second-box{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px  ;
}

.footer{
    height:72px;
    margin-top: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
