@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: Comic Sans MS;
    margin:0;
    padding: 0;
    min-height: 100vh;
}
/*List and Text size*/
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color:whitesmoke;
}
ul{
    list-style-type: none;
}
/*Flex Row and Section*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width:80%;
}
section{
    padding:60px 0; 
    overflow:hidden;
}
/*Header */
.header{
    height:100vh;
    background-image: url(images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icon{
    width:15%;
    height: 50%;
    margin-top: 2%;
}
.nav{
    font-size: 8px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}
ul li a:hover{
    color:#557be4;
    transition: .5s ease-in-out;
}
.text{
    color:white;
    font-size:16px;
}
.links{
    display: flex;
    gap:48px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box {    
   display: flex;
   background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6));
   width: 80%;
   border-radius: 25px;
   box-shadow: 2px 4px 16px rgba(0,0,0,.2);
   padding: 32px;
   margin-top: 8%;
}

.heading{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    color: white;
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:18px;
}
.img-header{
   width:100%;
}
.first-button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    border-radius: 10px;
}
.first-button:hover{
    background-color: whitesmoke;
    color:black;
    transform: scale(1.2);
}
/*Server*/
.server{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    color:whitesmoke;
}
.server .row{
    justify-content: center;
    gap:48px;
}
.server .row h1{
    margin:0px;
}
.box1, .box2, .box3, .box4, .box5{     
    margin-top: 4%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-server{
  height:200px;
  border: 5px solid yellow;
  border-radius: 25px;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
    transform: scale(1.3); 
    color:yellow;
    transition: .3s ease-in-out;
}
@media(max-width: 600px){
    .server .row, .quote .row{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/*Quote*/
.quote{
    padding:0px;
}
.quote .row{
    justify-content: center;
}
.text1{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    text-shadow:1px 1px 10px rgb(9, 137, 223), 1px 1px 10px rgb(9, 137, 223);
}
.maid-img{
    width: 20%;
}
/*Contact*/
.contact{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    color: white;
}
.contact .row{
    align-items: center;
    justify-content: center;
    gap:56px;
    padding: 16px;
}
.contact1{
    font-size: 24px;
}
.b-button{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #34568B;
    cursor: pointer;
    border-radius: 10px;
}
.b-button:hover{
    background-color: whitesmoke;
    color:black;
    transform: scale(1.2);
}

/*Footer*/
.footer{
    height:72px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #34568B;
    color:white;
    font-weight: bold;
}